{% extends '::base.html.twig' %}

{% block title %} {{ "Home Page" }} {% endblock %}

{% block body %}
    <h1>{{ "Home Page" | trans }}</h1>
    <p>{{ "Portfolio for Symfony. This project shows how to use FOSUer, KnpPaginator bundle. I added StofDoctrineExtensionsBundle with timestampable and slugable" | trans}}</p>
 {% endblock %}
