.credwrap {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.redtext{
	background-color: yellow;
}

#map { 
    height: 200px; width: 200px; 
}

.map-left{
    float:left;
    margin-right: 25px;
}