{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>

    {{ form_start(new_form) }}
        {{ form_widget(new_form) }}
        <input type="submit" value="Create" />
    {{ form_end(new_form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
