{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ post.title }}</h1>

    <table>
        <tbody>
        <tr>
            <td>Published on: {% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %} </td>
        </tr>
        <tr>
            <td>{{ post.text }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>


    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
